[user]
  name = EchoDev
  email = anarchytrex@hotmail.com

[core]
  compression = 9
  whitespace = error
  preloadindex = true
  autocrlf = false

[credential]
  helper = manager-core

[http]
  sslbackend = openssl

[init]
  defaultbranch = main

[push]
  autoSetupRemote = true
  default = current

[pull]
  default = current
  rebase = false
